body {
  background: #f0f4f8;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  text-align: center;
  background: white;
  padding: 75px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 20px;
}

.botones button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

.botones button:hover {
  background-color: #0056b3;
}

.resultado {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}